.col-md-2 {padding:0px;margin-bottom:5px;} 
.col-md-3 {padding:0px;margin-bottom:5px;}
.col-md-4 {padding:0px;margin-bottom:5px;}
.col-md-5 {padding:0px;margin-bottom:5px;}
.col-md-6 {padding:0px;margin-bottom:5px;}
.col-md-12 {padding:0px;margin-bottom:5px;}
.btn{text-align:left;}
.panel{padding:0px;}

.buttons .btn{padding: 4px 7px;width:95%;} 